<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.allforclass.dao.AdminMapper">

    <select id="lecList" resultType="com.chunjae.allforclass.dto.LecDTO">
        select lid, lname, teacher_id, price, subject, entry, startdate, timesession
        from lecture
    </select>

    <select id="uList" resultType="com.chunjae.allforclass.dto.UserDTO">
        select uid
                , email
                , uname
                , role
                , disable
        from user
        <where>
<!--            <choose>-->
<!--                <when test="role = 1">-->
<!--                    role = 1-->
<!--                </when>-->
<!--                <when test="role = 2">-->
<!--                    role = 2-->
<!--                </when>-->
<!--                <otherwise>-->
                    role in (1, 2)
<!--                </otherwise>-->
<!--            </choose>-->
        </where>
    </select>

    <update id="updateLecResult" parameterType="com.chunjae.allforclass.dto.LecDTO">
        update lecture
        set lname = #{lname}
          , price = #{price}
          , description = #{description}
          , subject = #{subject}
          , entry = #{entry}
          , startdate = #{startdate}
          , timesession = #{timesession}
        where lid = #{lid}
    </update>

    <update id="confirm" parameterType="int">
        update lecture
        set confirm = 1
        where lid = #{lid}
    </update>
</mapper>