<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.allforclass.dao.LectureMapper">
    <select id="detailLec" parameterType="int" resultType="com.chunjae.allforclass.dto.LecDTO">
        select l.lid as lid
               ,l.lname as lname
               ,u.uname as tname
               ,u.email as temail
               ,l.teacher_id as tid
               ,l.price as price
               ,l.description as description
               ,l.subject as subject
               ,l.entry as entry
               ,l.startdate as startdate
               ,l.timesession as timesession
               ,l.confirm as confirm
               ,l.imgpath as imgpath
        from lecture l inner join user u
        on l.teacher_id = u.uid
        where l.lid = #{lid}
    </select>

    <select id="findLecList" parameterType="hashmap" resultType="com.chunjae.allforclass.dto.LecDTO">
        select lid
             , lname
             , teacher_id
             , price
             , description
             , subject
             , entry
             , startdate
             , timesession
             , confirm
             , imgpath
        from lecture l inner join user u
             on l.teacher_id = u.uid
        <where>
            <![CDATA[
                confirm=true
                AND startdate BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 8 DAY)
            ]]>
            <choose>
                <when  test="searchtxt!=null and searchtxt!='' and !''.equals(searchtxt)">
                    AND (lname like concat('%', #{searchtxt}, '%')
                    or uname like concat('%', #{searchtxt}, '%'))
                </when>
            </choose>
        </where>
        <![CDATA[
         order by startdate
        ]]>
    </select>
    <!--컨펌 true, 오늘 날짜기준 오늘 부터 startdate+8일까지 출력-->

    <select id="checkPrice" parameterType="int" resultType="int">
        select price
        from lecture
        where lid = #{lid}
    </select>

<!--    <select id="searchLec" parameterType="hashmap" resultType="com.chunjae.allforclass.dto.LecDTO">
        select lid
             , lname
             , teacher_id
             , price
             , description
             , subject
             , entry
             , startdate
             , timesession
             , confirm
             , imgpath
        from lecture l inner join user u
             on l.lid = u.uid
        <where>
            <if test="searchtxt!='' and !''.equals(searchtxt)">
                lname like concat('%', #{searchtxt}, '%')
                or uname like concat('%', #{searchtxt}, '%')
            </if>
        </where>
    </select>-->


</mapper>