<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.allforclass.dao.MypageMapper">
    <insert id="insertLec" parameterType="com.chunjae.allforclass.dto.LecDTO">
        INSERT INTO lecture( lname
        , teacher_id
        , price
        , description
        , subject
        , entry
        , startdate
        , timesession
        , imgpath )
        VALUES ( #{lname}, #{tid}, #{price}, #{description}, #{subject}, #{entry}, #{startdate}, #{timesession},
        #{imgpath})
    </insert>

    <select id="detailMe" parameterType="int" resultType="com.chunjae.allforclass.dto.UserDTO">
        SELECT uid, email, pwd, uname, role, disable
        FROM user
        WHERE uid = #{uid}
    </select>

    <select id="findPurList" parameterType="int" resultType="com.chunjae.allforclass.dto.CalDTO">
        SELECT p.lid AS lid
        , lname
        , uname AS tname
        , subject
        , startdate
        , SUBSTRING_INDEX(timesession, '*', -1) as timesession
        FROM purchase p INNER JOIN lecture l
        ON p.lid = l.lid
        INNER JOIN user u
        ON l.teacher_id=u.uid
        WHERE p.uid = #{uid}
    </select>

    <select id="findMyLecList" parameterType="hashmap" resultType="com.chunjae.allforclass.dto.LecDTO">
        SELECT lid
             , subject
             , lname
             , price
             , startdate
             , SUBSTRING_INDEX(timesession,'*', -1) AS timesession
        FROM lecture
        WHERE teacher_id = #{uid}
        <if test="lectype!=null and lectype !='' and !lectype.equals('')">
            <choose>
                <when test="lectype=='pastmylec'">
                    AND confirm = 1
                    <![CDATA[
                    AND startdate < #{curr_day}
                    ]]>
                    <if test="!curr_session.equals('5')">
                        <![CDATA[
                        or ( startdate = #{curr_day} and SUBSTRING(timesession, 5, 1) < #{curr_session} )
                        ]]>
                    </if>
                    ORDER BY startdate DESC, timesession DESC
                </when>
                <when test="lectype=='confirmedmylec'">
                    AND confirm = 1
                    <![CDATA[
                    AND startdate > #{curr_day}
                    ]]>
                    <if test="!curr_session.equals('5')">
                        <![CDATA[
                        or ( startdate = #{curr_day} and SUBSTRING(timesession, 5, 1) >= #{curr_session} )
                        ]]>
                    </if>
                    ORDER BY startdate, timesession
                </when>
                <when test="lectype=='waitmylec'">
                    AND confirm = 0
                    ORDER BY startdate, timesession
                </when>
            </choose>
        </if>
    </select>

    <select id="lecTotalCount" parameterType="hashmap" resultType="int">
        SELECT count(*)
        FROM lecture
        WHERE teacher_id = #{uid}
        <if test="lectype!=null and lectype !='' and !lectype.equals('')">
            <choose>
                <when test="lectype=='pastmylec'">
                    AND confirm = 1
                    <![CDATA[
                    AND startdate < #{curr_day}
                    ]]>
                    <if test="!curr_session.equals('5')">
                        <![CDATA[
                        or ( startdate = #{curr_day} and SUBSTRING(timesession, 5, 1) < #{curr_session} )
                        ]]>
                    </if>
                    ORDER BY startdate DESC, timesession DESC
                </when>
                <when test="lectype=='confirmedmylec'">
                    AND confirm = 1
                    <![CDATA[
                    AND startdate > #{curr_day}
                    ]]>
                    <if test="!curr_session.equals('5')">
                        <![CDATA[
                        or ( startdate = #{curr_day} and SUBSTRING(timesession, 5, 1) >= #{curr_session} )
                        ]]>
                    </if>
                    ORDER BY startdate, timesession
                </when>
                <when test="lectype=='waitmylec'">
                    AND confirm = 0
                    ORDER BY startdate, timesession
                </when>
            </choose>
        </if>
    </select>

    <select id="checkLecTime" parameterType="hashmap" resultType="int">
        select count(*)
        from lecture
        where teacher_id = #{uid}
              and startdate = #{startdate}
              and timesession = #{timesession}
    </select>
</mapper>