<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.allforclass.dao.PurchaseMapper">
    <select id="isReserved" parameterType="hashmap" resultType="int">
        select count(*)
        from purchase
        where uid = #{sessionId} and lid = #{lid}
    </select>
    <select id="detailPur" parameterType="hashmap" resultType="com.chunjae.allforclass.dto.PurDTO">
        select u.uname as uname
             , u.email as email
             , p.payid as payid
        from purchase p inner join user u
          on p.uid = u.uid
        where p.uid = #{sessionId}
          and p.lid = #{lid}
    </select>
</mapper>