<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.allforclass.dao.RoomMapper">

    <insert id="insertref" parameterType="hashmap">
        insert into ref(refpath, lid)
        values
        <foreach collection="filenames" item="item" separator=",">
            (#{item}, #{refdto.lid})
        </foreach>
    </insert>

    <select id="detailref" resultType="com.chunjae.allforclass.dto.RefDTO" parameterType="int">
        select refpath
        from ref r INNER JOIN lecture l
        on r.lid = l.lid
        where l.lid = #{lid}
    </select>

    <select id="replylist" resultType="com.chunjae.allforclass.dto.ReplyDTO" parameterType="int">
        SELECT r.rid as rid
            , r.uid as uid
            , r.lid as lid
            , r.content as content
            , r.writedate
            , u.role as urole
        FROM user u INNER JOIN purchase p
        ON u.uid = p.uid INNER JOIN reply r
        ON p.uid = r.uid
        WHERE r.lid = #{lid}
    </select>

    <insert id="replyinsert" parameterType="com.chunjae.allforclass.dto.ReplyDTO">
        insert into reply(uid, lid, content, writedate)
        values(#{uid}, #{lid}, #{content}, DATE(NOW()))
    </insert>

    <delete id="replydelete" parameterType="int">
        delete from reply
        where rid = #{rid};
    </delete>

    <select id="detailvideo" resultType="com.chunjae.allforclass.dto.VideoDTO" parameterType="int">
        select title, videopath
        from video
        where lid = #{lid}
    </select>

    <insert id="insertVid" parameterType="com.chunjae.allforclass.dto.VideoDTO">
        INSERT INTO video(lid, title, videopath)
        VALUES(#{lid}, #{title}, #{videopath});
    </insert>
</mapper>