<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.allforclass.dao.UserMapper">

    <select id="checkUser" parameterType="hashmap" resultType="string">
        select email
        from user
        where email=#{email} and pwd=#{pwd}
    </select>
    <select id="findUid" parameterType="string" resultType="int">
        select uid
        from user
        where email=#{email}
    </select>
    <select id="checkRole" parameterType="int" resultType="int">
        select role
        from user
        where uid = #{sessionId}
    </select>
</mapper>