<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.allforclass.dao.UserMapper">

    <select id="checkUser" parameterType="hashmap" resultType="string">
        select email
        from user
        where email=#{email} and pwd=#{pwd} and disable=false
    </select>

    <select id="findUid" parameterType="string" resultType="int">
        select uid
        from user
        where email=#{email}
    </select>

    <select id="checkRole" parameterType="int" resultType="int">
        select role
        from user
        where uid = #{sessionId}
    </select>

    <insert id="join" parameterType="com.chunjae.allforclass.dto.UserDTO">
        insert into user (email
                        , pwd
                        , uname
                        , role
                        )
        values (#{email}
              , #{pwd}
              , #{uname}
              , #{role}
              )
    </insert>
    <select id="findUser" parameterType="int" resultType="hashmap">
        select uname
               ,email
        from user
        where uid = #{sessionId}
    </select>

    <select id="emailCheck" parameterType="string" resultType="int">
        select count(email)
        from user
        where email=#{email}
    </select>

    <update id="updateUser" parameterType="com.chunjae.allforclass.dto.UserDTO">
        update user
        set email = #{email}
          , uname = #{uname}
        <if test="pwd!=null and pwd!='' and !pwd.equals('')">
          , pwd = #{pwd}
        </if>
        where uid = #{uid}
    </update>

    <update id="deleteUser" parameterType="int">
        update user
        set disable = 1
        where uid = #{uid}
    </update>
</mapper>