.join_wrap {
    text-align: center;
}

.join_wrap ul{
    list-style: none;
    padding: 0px;
}

.join_wrap h1 {
    display: inline-block;
    color: #1CBCBD;
    font-weight: 800;
    font-size: 2rem;
    border-bottom: 3px solid #1CBCBD;
    margin: 50px 0px 10px 0px;
}

.join_box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.join_txt{
    display: inline-block;
    color: #1CBCBD;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 20px 0px;
}

.join_input{
    background-color: #E3F2EF;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 298px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.join_input:focus {
    outline: 2px solid #1CBCBD;
}


.join_btn{
    color: white;
    background-color: #1CBCBD;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    align-self: center;
    margin: 30px;
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#check{
    height: 20px;
}

.emailCk_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 5px;
}

.emailCk_box .join_input{
    width: 223px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.emailCk_btn{
    border: 2px solid #1CBCBD;
    border-radius: 10px;
    height: 40px;
    width: 75px;
    color: #1CBCBD;
    font-weight: 500;
    background-color: #ffffff;
}

.emailCk_btn:active{
    border: 2px solid #1CBCBD;
    color: #ffffff;
    background-color: #1CBCBD;
}

.join_btn:active{
    border: 2px solid #1CBCBD;
    color: #1CBCBD;
    background-color: #ffffff;
}

.join_select{
    border: 2px solid #1CBCBD;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    align-self: center;
}