.login_wrap {
    text-align: center;
    margin-bottom: 120px;
}
.login_wrap ul{
    list-style: none;
    padding: 0px;
}

.login_wrap h1 {
    display: inline-block;
    color: #1CBCBD;
    font-weight: 800;
    font-size: 2rem;
    border-bottom: 3px solid #1CBCBD;
    margin: 50px 0px 10px 0px;
}

.login_box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login_txt{
    display: inline-block;
    color: #1CBCBD;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 20px 0px;
}

.login_input{
     background-color: #E3F2EF;
     border: none;
     border-radius: 10px;
     height: 40px;
     width: 298px;
     align-self: center;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.login_input:focus {
    outline: 2px solid #1CBCBD;
}


.login_btn{
    color: white;
    background-color: #1CBCBD;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    align-self: center;
    margin: 30px;
    font-weight: 600;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login_btn:active{
    border: 2px solid #1CBCBD;
    color: #1CBCBD;
    background-color: #ffffff;
}

.login_join{
    max-width: fit-content;
    align-self: center;
    margin-bottom: 50px;
}

.login_join_btn{
    border: 2px solid #1CBCBD;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    color: #1CBCBD;
    background-color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login_join_btn:active{
    color: white;
    background-color: #1CBCBD;
    border: none;
}
