ul li {
    list-style: none;
    margin: 2px;
}

#out_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #1CBCBD;
    border-radius: 20px;
    width: 60%;
    height: 680px;
    margin: 60px auto 10px;
}

#update_top{
    display: flex;
    justify-content: center;
}
#update_top h1{
    margin: 10px auto 40px;
    font-size: 20px;
    font-weight: bolder;
    color: #3DA9A4;
}

#update_section {
    display: flex;
    flex-direction: column;
}
#update_section ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#update_section ul li{
    display: flex;
    justify-content: center;
}
#update_section label {
    font-size: 1.1rem;
    margin-top: 30px;
    font-weight: bold;
}

#update_section .update_input, #emailCk{
    width: 46%;
    height: 35px;
    background-color: #E3F2EF;
    border-radius: 10px;
    border: none;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
}
#update_section #email {
    width: 30%;
}

#emailCk{
    font-size: 0.8rem;
    width: 13%;
    height: 35px;
    border: 2px solid #78C2AD;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background: #78C2AD;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#emailCk:hover{
    background: #ECFBFB;
}

update_section li input {
    margin-bottom: 50px;
}

input #email {
    width: 25%;
}

#updatereset_btn {
    width: 15%;
    height: 35px;
    border: 2px solid #78C2AD;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background: #E3F2EF;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 10px 20px;
}

#updateuser_btn{
    width: 30%;
    height: 35px;
    border: 2px solid #1CBCBD;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background: #1CBCBD;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 10px 20px;
}
#updateuser_btn:hover, #updatereset_btn:hover{
    background: #ECFBFB;
    color: black;
}

#deleteuser_btn {
    margin: 0 0 50px 20%;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: bolder;
}

