*{
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
    margin: 2px;
}

.insert_lec_h1 {
    margin: 35px 10% 10px;
    font-size: 18px;
    font-weight: bolder;
    color: #3DA9A4;
}

.insert_lec_imgupload, .insert_lec_select{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3%;
}

.insert_lec_imgupload {
    align-items: center;
}

#image_container img{
    width: 422px;
    height: 247px;
}

.lecimg_upload_btn {
    width: 160px;
    height: 35px;
    border: 2px solid #78C2AD;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background: #78C2AD;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 8px;
}

.lecimg_upload_btn:hover {
    background: #ECFBFB;
 }

#imgfile {
    display: none;
}

insert_lec_select{
    margin: 10px;
}
.insert_lec_select label{
    width: 30%;
}

.insert_lec_label{
    font-weight: bolder;
}

.insert_lec_radio label{
    width: auto;
}

.insert_lec_radio{
    display: inline-block;
    position: absolute;
    width: 100%;
}

.insert_lec_select #subject, .insert_lec_select #startdate{
    width: 140px;
}

.insert_lec_radio ul{
    padding-left: 0;
}

#lec_time_check{
    font-size: 0.9rem;
}

.insertlec_desc{
    margin: 15px 5% 20px;
}
.insertlec_desc label{
    margin-bottom: 5px;
}
.insert_lec_input{
    width: 170px;
}
.insertlec_desc textarea{
    height: 300px;
}

.insertlec_submit{
    display: flex;
    justify-content: flex-end;
    margin: 0 5% 40px;
}

#insertlec_btn{
    width: 180px;
    height: 35px;
    border: 2px solid #1CBCBD;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background: #1CBCBD;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#insertlec_btn:hover {
    background: #ECFBFB;
    color: black;
}

/*부트스트랩 - 상단 돋보기 이동 방지*/
img, svg {
    vertical-align: unset;
}


