.mainlist_banner{
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.mainlist_banner img{
    min-height: 350px;
}

.list_line{
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 25px 0;
}

.list_line::before,
.list_line::after {
    content: ' ';
    flex-grow: 1;
    height: 1px;
    background-color: #1CBCBD;
    opacity: 1;
}


.mainlist_lec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainlist_wrap h3{
    text-align: center;
}


.mainlist_lec ul{
    margin: 0;
    padding: 0px 0px 50px 0px;

}

.mainlist_lec ul li{
    list-style: none;
}

.mainlist_lec img{
    width: 270px;
    height: 160px;
}

.mainlist_lecname a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}


.mainlist_lecprice{
    font-size: 1rem;
}