#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upper_tab {
    margin: 50px 0 0 0;
    border-bottom: 2px solid #1CBCBD;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#upper_tab li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
.content {
    display: none;
}

.tablink {
    background-color: white;
    border: none;
    padding: 3px 5px;
    cursor: pointer;
    margin: 0 0 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
}

.tablink:hover{
    color: #3DA9A4;
    font-weight: bold;
}

a {
    color: inherit;
}
a:hover, a:focus {
    color: #3DA9A4;
}

table {
    margin: 60px 20px;
    width: 80%;
    border-top: 1.2px solid #1CBCBD;
    border-bottom: 1.2px solid #1CBCBD;
    border-collapse: collapse;
    text-align: center;
}

th {
    border-bottom: 2.2px solid #1CBCBD;
    border-left: 0.3px solid #1CBCBD;
    padding: 5px;
    font-weight: bolder;
}

td {
    border-bottom: 0.3px solid #1CBCBD;
    border-left: 0.3px solid #1CBCBD;
    padding: 5px;
    font-weight: normal;
}

th:first-child, td:first-child {
    border-left: none;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #1CBCBD;
}