*{
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

#upper_tab{
    justify-self: center;
    margin: 20px;
}

#upper_tab li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 20px;
}

tr th{
    border: 1px solid #1CBCBD;
}

tr td{
    border: 1px solid #1CBCBD;
}