/* ================================== */
/*                공통                 */
/* ================================== */
* {
    margin: 0;
    padding: 0;
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
}

ul li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #1CBCBD;
    cursor: pointer;
}

#container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

/* ================================== */


/* ================================== */
/*                버튼                 */
/* ================================== */
#fileUploadForm #file_upload button {
    color: black;
    width: 150px;
    height: 42px;
    border: 2px solid #78C2AD;
    border-radius: 20px;
    background: #78C2AD;
    font-size: 0.9rem;
}

#fileUploadForm #file_upload button:hover {
    background-color: #ECFBFB;
    cursor: pointer;
}

.label_file_btn {
    margin: 0 5px 0 0;
    background-color: #78C2AD;
    border: 2px solid #78C2AD;
    border-radius: 20px;
    width: 150px;;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.label_file_btn:hover {
    background-color: #ECFBFB;
    cursor: pointer;
}

#replyList button {
    width: 60px;
    height: 20px;
    position: relative;
    float: right;
    border: 2px solid #78C2AD;
    border-radius: 20px;
    background: #78C2AD;
    margin: 0 0 0 10px;
}

#replyList button:hover {
    background-color: #E3F2EF;
    cursor: pointer;
}

#reply #append_btn {
    color: black;
    width: 100px;
    height: 37px;
    border: 2px solid #78C2AD;
    border-radius: 20px;
    background: #78C2AD;
    margin: 0 0 0 10px;
    font-size: 1.1rem;
}

#reply #append_btn:hover {
    background-color: #ECFBFB;
    cursor: pointer;
}

#video #delvideo{
    background-color: #ECFBFB;
}

#video #delvideo:hover{
    background-color: #78C2AD;
}

#video button{
    color: black;
    width: 150px;
    height: 41px;
    border: 2px solid #78C2AD;
    border-radius: 20px;
    background: #78C2AD;
    font-size: 0.9rem;
}

#video button:hover{
    background-color: #ECFBFB;
    cursor: pointer;
}

#video #video_delbtn{
    position: relative;
    left: 37%;
    width: 102px;
    height: 23px;
    border: 2px solid #78C2AD;
    background: #ECFBFB;
}

#video #video_delbtn:hover{
    background-color: #78C2AD;
    cursor: pointer;
}

/* ================================== */


/* ================================== */
/*              강의영상                */
/* ================================== */
#video {
    /*border: 1px solid silver;*/
    margin: 0 0 0 58px;
}
#video_upload{
    margin: 0 58px 0 0;
    display: flex;
}

#video_upload #span_info{
    position: relative;
    left: 20%;
    top: 112px;
}


video{
    width: 88%;
}

#video input[type="text"]{
    width: 87%;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #1CBCBC;
    padding: 0 10px;
    margin: 10px 0;
}

#video input:focus{
    outline: 1px solid #1CBCBC;
}
/* ================================== */


/* ================================== */
/*            강의 자료 설명            */
/* ================================== */
#lec_info {
    margin: 0 0 20px 0;
}

input[type="file"] {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#reflist {
    margin: 5px 20px 0 0;
    width: 90%;
    border: 1px solid #78C2AD;
    border-radius: 8px;
}

#reflist li {
    margin: 7px;
}

/* ================================== */


/* ================================== */
/*            강의 자료 등록            */
/* ================================== */
#file_upload {
    display: flex;
    margin: 20px 60px 0 0;
    /*visibility: hidden;*/
}

/* 선택한 파일 리스트*/
.span_file {
    margin: 0 5px 0 0;
    padding: 0 5px 0 10px;
    display: block;
    width: 85%;
    min-height: 30px;
    border: 1px solid #78C2AD;
    border-radius: 8px;
    line-height: 30px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

/* ================================== */


/* ================================== */
/*             강의 설명                */
/* ================================== */
#lec_description {
    border-top: 1px solid silver;
    width: 90%;
    height: 80px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-content: center
}

/* ================================== */


/* ================================== */
/*               댓글                  */
/* ================================== */
#reply {
    /*border: 1px solid silver;*/
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    width: 90%;
}

#reply form {
    width: 100%;
    display: flex;
}

#reply input {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #1CBCBC;
    padding: 0 10px;
}
#reply input:focus{
    outline: 1px solid #1CBCBC;
}

#replyList {
    margin: 20px 0;
    border: 1px solid #1CBCBD;
    background-color: #E3F2EF;
    border-radius: 15px;
}

#replyList li {
    border-bottom: 1px solid silver;
    padding: 5px 0;
    margin: 15px;
}

/* ================================== */

