.detail_wrap {
    padding: 50px;
    width: 80%;
}

.lec_thumbnail img {
    width: 350px;
    height: 250px;
}

.lec_thumbnail p {
    position: relative;
    top: 50px;
}

.lec_thumbnail p span, .lec_info ul li:nth-child(2), .lec_info ul li:nth-child(4) {
    font-size: larger;
    font-weight: 700;
    margin: 20px;
}

.lec_info {
    position: relative;
    top: -250px;
    left: 450px;
    width: 300px;
    margin: 0;
}

.lec_info ul {
    margin: 0;
    padding: 0;
}

.lec_info ul li {
    list-style: none;
    margin: 10px 0;
}

.btns a {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 37px;
    border: 2px solid #78C2AD;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    background: #78C2AD;
    font-weight: 700;
    color: black;
}

.btns a:hover {
    background: #ECFBFB;
}

.lec_enter_btn, .lec_regi_btn {
    position: relative;
    left: 50px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 2px solid #78C2AD;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    background: #78C2AD;
    color: black;
    font-weight: 700;
    font-size: medium;
    margin: 10px 10px 0 15px;
    font-family: "Noto Sans KR", sans-serif;
}

.lec_block_btn {
    position: relative;
    left: 50px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 2px solid grey;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    background: silver;
    color: dimgray;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: medium;
    margin: 10px 10px 0 15px;
}

.lec_enter_btn:hover, .lec_regi_btn:hover {
    background: #ECFBFB;
}

.lec_line{
    position: relative;
    top: -150px;
}
.lec_description {
    position: relative;
    top: -100px;
}

.lec_description p {
    margin: 10px;
    padding: 10px;
}

#reserve {
    color: red;
}
