.detail_wrap {
    padding: 50px;
    border: 1px solid silver;
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    margin-top: 5%;
}

.lec_thumbnail {
    border: 1px solid silver;
    border-radius: 10px;
    width: min-content;
    margin: 0 5%;
    padding: 10px;
}

.lec_thumbnail img {
    width: 422px;
    height: 247px;
}

.lec_thumbnail p {
    text-align: center;
}

.lec_thumbnail p span {
    font-size: larger;
    font-weight: 700;
    margin: 20px;
}
.lec_info ul li:nth-child(2), .lec_info ul li:nth-child(4) {
    font-size: larger;
    font-weight: 700;
}

.lec_info {
    width: max-content;
    margin: 0 5%;
}

.lec_info ul {
    margin: 0;
    padding: 0;
}

.lec_info ul li {
    list-style: none;
    margin: 15px 0;
}

.btns a {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 37px;
    border: 2px solid #78C2AD;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    background: #78C2AD;
    font-weight: 700;
    color: black;
}

.btns a:hover {
    background: #ECFBFB;
}

.lec_enter_btn, .lec_regi_btn {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 2px solid #78C2AD;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    background: #78C2AD;
    color: black;
    font-weight: 700;
    font-size: medium;
    margin: 10px 10px 0 15px;
    font-family: "Noto Sans KR", sans-serif;
}

.lec_block_btn {
    position: relative;
    left: 50px;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 2px solid grey;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    background: silver;
    color: dimgray;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: medium;
    margin: 10px 10px 0 15px;
}

.lec_enter_btn:hover, .lec_regi_btn:hover {
    background: #ECFBFB;
}

hr {
    /*width: -webkit-fill-available;*/
}
.lec_description {
    width: max-content;
    margin: 5%;
}

.lec_description p {
    margin: 10px;
    padding: 10px;
}

#reserve {
    color: red;
}
